<div class="switch-to-monthly-plan-container" role="dialog">
  <div class="row">
    <h1>{{t "SURE-SWITCH-TO-MONTHLY"}}</h1>
    <p>{{t "MONTHLY-BILLING-ON-DATE"}}</p>
    <p>{{t "NO-LONGER-BE-SAVING"}}</p>
  </div>

  <button type="reset" class="keep-annual-plan btn">
    {{t "KEEP-ANNUAL-PLAN"}}
  </button>

  <button type="submit" class="switch-to-monthly-plan btn">
    {{t "SWITCH-TO-MONTHLY"}}
  </button>
</div>
