{{! <div class="col-md-4">
  <div id="billingFAQ"> }}

<div class="well">
  <h3>{{t "FAQ"}}</h3>
  <p>
    <strong>{{t "HOW-TO-WATCH"}}</strong><br />
    {{t "ACORNTV-AVAILABILITY"}}
  </p>
  <p>
    <strong>{{t "WHEN-SHOWS-ADDED"}}</strong><br />
    {{t "SHOWS-EVERY-WEEK"}}
  </p>
  <p>
    <strong>{{t "CC-SUBTITLES-AVAILABLE"}}</strong><br />
    {{t "ALL-CC"}}
  </p>
  <p>
    {{t "MORE-FAQ"}}
    <a
      class="AcornAppLink"
      href="//support.acorn.tv/support/solutions/folders/1000220893"
      target="_blank"
    >
      {{t "CLICK-HERE"}}
      <i class="icon-caret-right"></i>
    </a>
  </p>
</div>

{{! </div>
</div> }}