{{!-- <aside id="signedIn" class="signedIn">
    {{#if membership.Status == 'ACTIVE'}}
        <h4>{{t "HELLO" }} <span>{{customer.Name}}</span>, {{t "ALREADY-MEMBER" }}</h4>

        {{#if membership.Term.toUpperCase() == 'MONTH' && !membership.ExpirationDate}}
            {{t "YOUR-MEMBERSHIP-TYPE" }} <strong>{{ (membership.Term.toUpperCase() == 'MONTH' ? 'MONTHLY' : 'ANNUAL') }}</strong>
        {{ else if membership.ExpirationDate}}
            {{t "MEMBERSHIP-SET-EXPIRE" }} {{ membership.ExpirationDate }}
        {{/if}}

        <a class="btn btn-primary" href="{{environment}}acorn.tv">Watch Now</a>
        <p>
            {{#if customer.webPaymentEdit}}
                {{# ['MONTH', 'TRIAL'].includes(membership.Term.toUpperCase()) }}
                    <a href="#" id="changeToAnnual">
                        {{t "CHANGE-TO-ANNUAL" }}
                    </a>
                    <br>
                {{/if}}
                {{#if membership.Term.toUpperCase() == 'ANNUAL' && membership.ExpirationDate}}
                    <a href="#" id="renewMembership">
                        {{t "RENEW-MEMBERSHIP" }}
                    </a>
                    <br>
                {{/if}}
            {{else}}
                <br>
                {{t "MANAGE-BILLING-DETAILS" }} {{membership.Device}}.
                {{t "PLEASE-LOG-IN" }}{{membership.Device}} to
                {{t "MANAGE-BILLING" }}
                <br>
            {{/if}}

            {{!-- Hide Gifting when not in allowed groupname --}}
            {{#if isGroupNameAllowedGifting}}
            <a href="#" id="giveGift">{{t "GIVE-ACORNTV" }}</a>
            {{/if}}
        </p>

    {{else}}
        <h4>{{t "HELLO" }} <span>{{customer.Name}}</span></h4>
        <p>{{t "CHOOSE-MEMBERSHIP" }}</p>
    {{/if}}
</aside> --}}