{{!-- <div id="stunning">
  <iframe id="stunning-form" src="{{src}}"></iframe>
  <button class="go-to-membership hidden">
    <i class="glyphicon glyphicon-home"></i>
    {{t "BACK-TO-HOME"}}
  </button>
</div> --}}
<div class="update-credit-card">
  {{!log this level="error"}}

  <h1>{{t "UPDATE-CREDIT-CARD"}}</h1>
  {{!-- <p>{{t "UNLIMITED-ACCESS"}}</p> --}}


  <div id="billing-container">
    <div id="confirm-billing">
      <h4>{{t "CURRENT-CREDIT-CARD"}}</h4>
      <div id="billing-info">
        <div class="item">
          <div class="content">
            <div class="super-short-title pull-right"></div>
            <div class="super-title"></div>
            <div class="super-title"></div>
            <div class="super-title"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="stripe-form" class="update-cc"></div>

    {{!-- <button type="submit" class="confirm-update-credit-card btn">
      {{t "APPLY"}}
    </button> --}}

  </div>
</div>

