<div class="form-group">

  <label for="billingEmail" class="control-label">
    {{t "EMAIL-ADDRESS"}}
    <span class="req">*</span><span class="help-input"></span>
  </label>

  <input
    type="email"
    value="{{email}}"
    id="billingEmail"
    name="billingEmail"
    class="form-control required"
    placeholder=""
    pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
    required
    data-message="ENTER-AN-EMAIL"
  />
</div>

<div class="form-group">
  <label for="billingEmailConfirm" class="control-label">
    {{t "CONFIRM-EMAIL-ADDRESS"}}
    <span class="req">*</span>
  </label>

  <input
    type="email"
    value="{{email}}"
    id="billingEmailConfirm"
    name="billingEmailConfirm"
    class="form-control required"
    placeholder=""
    pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
    required
    data-message="EMAILS-DONT-MATCH"
  />
</div>

{{#if membershipInCart}}
  <div class="form-group">
    <label for="membershipPassword" class="control-label">
      {{t "PASSWORD-CS"}}
      <span class="req">*</span>
      <span class="help-input">Please enter a minimum of 6 characters</span>
    </label>
    <input
      type="password"
      id="membershipPassword"
      name="membershipPassword"
      class="form-control required"
      placeholder=""
      minlength="6"
      required
      data-message="ENTER-A-PASSWORD"
    />
  </div>

  <div class="form-group">
    <label for="membershipPasswordConfirm" class="control-label">
      {{t "CONFIRM-PASSWORD"}}
      <span class="req">*</span>
    </label>
    <input
      type="password"
      id="membershipPasswordConfirm"
      name="membershipPasswordConfirm"
      class="form-control required"
      placeholder=""
      minlength="6"
      required
      data-message="PASSWORDS-DONT-MATCH"
    />
  </div>
  <div class="checkbox tos">
    <label for="agree" class="control-label">
      <input
        type="checkbox"
        id="agree"
        name="agree"
        required
        data-message="AGREE-TO-TERMS"
      />
      {{t "I-AGREE"}}
      <a href="https://www.amcnetworks.com/terms-of-use/" target="_blank">
        {{t "TERMS-OF-SERVICE"}}
      </a>
    </label>
  </div>
{{/if}}

<div class="checkbox">
  <label for="marketing-agree" class="control-label">
    <input
      type="checkbox"
      id="marketing-agree"
      name="marketing-agree"
      checked="checked"
      value="1"
    />
    {{t "EMAIL-PROGRAM-INFORMATION"}}
  </label>
</div>