<div class="navbar navbar-fixed-top" role="navigation">
  {{!log this level="error"}}
  <div class="container">
    <ul class="navbar-right-ul accountUser">
      <li class="navbar-right">
        <div class="menuOptions" id="menuOptions">
          <span class="accountOptions hidden-xs hidden-sm">my acorn tv</span>
          <span id="clicker">
            <img
              class="accountIcon"
              width="18"
              src="//api.rlje.net/acorn/artwork/size/account-icon?t=Icons"
            />
          </span>
        </div>

        <ul class="drop-select closed" style="display:none;">
          <li>
            <a href="//{{environment}}acorn.tv/browse/recentlywatched/">
              RECENTLY WATCHED
            </a>
          </li>
          <li>
            <a href="//{{environment}}acorn.tv/browse/yourwatchlist/">
              MY WATCHLIST
            </a>
          </li>
          <li><a href="#accountStatus">MANAGE ACCOUNT</a></li>
          <li><a href="#editPassword">CHANGE PASSWORD</a></li>
          {{#if Customer.webPaymentEdit}}
            {{#if Customer.StripeEnabled}}
              <li><a href="#updatecard">UPDATE BILLING INFORMATION</a></li>
            {{/if}}
            <li><a href="#editEmail">CHANGE EMAIL</a></li>
          {{/if}}
          {{#if Session.LoggedIn}}
            <li><a href="#logout">LOG OUT</a></li>
          {{else}}
            <li><a
                href="{{signinEnv}}/signin.jsp?OperationalScenario=STORE"
              >SIGN IN</a></li>
          {{/if}}
        </ul>
      </li>
    </ul>

    <div class="navbar-header">
      <a href="//{{environment}}acorn.tv/">
        <img src="/img/atvlogo.png" class="atv-logo" /></a>
      <button
        data-toggle="collapse-side"
        data-target=".side-collapse"
        data-target-2=".side-collapse-container"
        type="button"
        class="navbar-toggle"
      >
        <div>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </button>
    </div>

    <div class="navbar-collapse side-collapse in">
      <ul class="nav navbar-nav">
        <li><a href="//{{environment}}acorn.tv/">HOME</a></li>
        <li><a href="//{{environment}}acorn.tv/browse">BROWSE</a></li>
        <li><a href="//{{environment}}acorn.tv/schedule">SCHEDULE</a></li>
        <li><a href="//support.acorn.tv">HELP</a></li>
        <li><a
            id="store-link"
            href="//{{storeEnv}}"
            {{! style="color:#fff;display:block;" }}
          >STORE</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="jqueryScript"></div>
