<div class="navbar navbar-fixed-top" role="navigation">
  <div class="container">

    <ul class="navbar-right-ul">
      {{#if isLoggedIn}}

        <li class="navbar-right">
          <a class="log-in" href="#logout">
            {{t "LOG-OUT"}}
          </a>
        </li>

        {{#if isWebPaymentEdit}}
          <li class="navbar-right">
            <a class="log-in" href="#applyGiftCode">
              {{t "REDEEM-GIFT"}}
            </a>
          </li>
        {{/if}}

      {{else}}

        <li class="navbar-right sign-up">
          <a class="free-month" href="//{{signupEnv}}">
            {{t "START-FREE-TRIAL-LC"}}
          </a>
        </li>

        <li class="navbar-right">
          <a
            class="log-in"
            href="//{{signupEnv}}/signin.jsp?OperationalScenario=STORE"
          >
            {{t "LOG-IN"}}
          </a>
        </li>

      {{/if}}
    </ul>

    <div class="navbar-header">
      <a href="https://{{environment}}acorn.tv">
        <img src="{{atvlogo}}" class="atv-logo" />
      </a>
      <button
        data-toggle="collapse"
        data-target=".side-collapse"
        type="button"
        class="navbar-toggle"
        aria-expanded="false"
      >
        <div>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </button>
    </div>

    <div class="navbar-collapse side-collapse collapse">
      <ul class="nav navbar-nav">
        {{#each navData}}
          <li>
            <a href="{{headerNavURL}}">
              {{t i18nKey}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>