<tr>
  <th class="item-name" colspan="2">
    {{t "ACORN-ANNUAL-MEMBERSHIP"}}
  </th>
</tr>
<tr>
  <td class="qty">
    {{t "QTY"}}
    {{quantity}}
  </td>
  <td class="price text-right">
    {{{amount}}}
    {{t "EA"}}
  </td>
</tr>

{{#if membershipPromo}}
  <tr>
    <th class="item-name"></th>
  </tr>
  <tr>
    <td class="qty">
      {{t "PROMOTION-APPLIED"}}
    </td>
    <td class="price text-right">
      {{{promoName}}}
    </td>
  </tr>
{{/if}}