<h4>{{t "CONFIRM-YOUR-BILLING-INFO"}}</h4>
<div id="billing-info">
  <a href="#" class="cc-edit">{{t "EDIT"}}</a>
  <div class="cc-number">****{{ccLast4}}</div>
  <div class="cc-nameoncard">{{ccNameOnCard}}</div>
  <div class="cc-expiration">Exp: {{ccExpiration}}</div>
</div>
