<div id="annual-plan" class="row">
  {{!log this level="error"}}
  <div class="col-md-8">
    <h1 class="formhead">{{t "PLANS"}}</h1>
  </div>
  <div class="col-md-8">
    <p>
      {{!-- Your
      {{planType}}
      Plan was canceled on
      {{cancelledDate}}. ({{currSymbol}}{{subscriptionAmount}}/{{termType}}) --}}

      {{t "PLAN-TYPE-WAS-CANCELED-DATE-PRICE"}}

      {{!-- {{#if annual}}
        {{t "ANNUAL-WAS-CANCELED-DATE-PRICE"}}
      {{else}}
        {{t "MONTHLY-WAS-CANCELED-DATE-PRICE"}}
      {{/if}} --}}
      <br />
      {{{tagline}}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <button type="button" id="restartMembership" class="btn btn-primary">
      {{t "RESTART-MEMBERSHIP"}}
    </button>
  </div>
</div>
