<div class="group">
  <div class="item">
    <label>{{t "NAME-ON-CARD"}}</label>
    <input
      type="text"
      class="form-control"
      id="nameoncard"
      name="nameoncard"
      placeholder="Full Name"
    />
  </div>
  <div class="item">
    <label>{{t "CREDIT-CARD-NUMBER"}}</label>
    <div id="card-number" class="card-field"></div>
  </div>
  <div class="inline-item">
    <div class="subitem">
      <label>{{t "EXPIRATION"}}</label>
      <div id="card-expiry" class="card-field"></div>
    </div>
    <div class="subitem">
      <label>{{t "CVC"}}</label>
      <div id="card-cvc" class="card-field"></div>
    </div>
    <div class="subitem">
      <label>{{t "ZIP"}}</label>
      <input
        type="text"
        class="form-control"
        id="card-zipcode"
        name="card-zipcode"
        placeholder="{{t 'ZIP'}}"
      />
    </div>
  </div>
</div>
<div class="buttons">
  <button type="reset">{{t "CANCEL"}}</button>
  <button type="submit">{{t "SAVE"}}</button>
</div>
