<div class="switch-to-annual-plan-container" role="dialog">
  {{!log this level="error"}}
  <div class="row row-no-gutters">
    {{#if isUK}}
    <h1>{{t "12-MONTHS-FOR-PRICE-OF-NUMBER"}}</h1>
    {{else}}
    <h1>{{t "12-MONTHS-FOR-PRICE-OF-10"}}</h1>
    {{/if}}
    <p class="annual-plan-message">
      {{{t "YOU-WILL-BE-BILLED-ANNUAL-PRICE-DATE"}}}
    </p>
  </div>

  <div id="billing-container">
    <div id="confirm-billing">
      <h4>{{t "CONFIRM-YOUR-BILLING-INFO"}}</h4>
      <div id="billing-info">
        <div class="item">
          <div class="content">
            <div class="super-short-title pull-right"></div>
            <div class="super-title"></div>
            <div class="super-title"></div>
            <div class="super-title"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="stripe-form"></div>

    <div id="promocode-container"></div>

    <button type="submit" class="confirm-upgrade btn">
      {{t "CONFIRM-UPGRADE"}}</button>

    <div class="legal-notice">
      <p>{{{t "LEGAL-CONSENT-INFORMATION-UPGRADE-PRICE"}}}</p>
    </div>
  </div>
</div>
