<section id="landing-gift">
  <div class="container">

    <div class="clearfix">

      <div class="hidden-xs hidden-sm col-md-6 col-lg-6 asset">
        <img src="{{GiftDeviceImg}}" />
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 description">
        <h6>{{t "PURCHASE-A-GIFT"}}</h6>
        <h4>{{t "GIVE-GREAT-TV-GIFT"}}</h4>
        <p>{{t "GIFT-PURCHASE-2025"}} </p>
        <a href="#give">
          {{t "GIVE-A-GIFT"}}
        </a>
      </div>

    </div>

  </div>
</section>