<div id="monthly-plan" class="row">
  {{!log this level='error'}}
  <div class="col-md-8">
    <h1 class="formhead">{{t "PLANS"}}</h1>
  </div>
  <div class="col-md-8 banner">
    <p>
      {{#if isTigo}}
      {{t "MONTHLY-PLAN-RENEWS-ON-TIGO"}}<br />
      {{else}}
      {{t "MONTHLY-PLAN-RENEWS-ON-DATE-PRICE"}}<br />
      {{/if}}
      {{{tagline}}}
    </p>
  </div>
</div>
{{! TODO: `isUpgradeAllowed` for initial launch. Remove in phase 2. }}
{{#if isUpgradeAllowed}}
  <div class="row">
    <div class="col-lg-6 col-sm-9">
      <div class="upgrade-to-annual">
        <h2>{{t "12-MONTHS-FOR-PRICE-OF-10"}}</h2>
        <p>
          <sup class="symbol">{{currSymbol}}</sup>
          <span class="price">{{annualSubscriptionAmount}}</span>
          <sup>/</sup>
          <sub class="period">{{t "YR"}}.</sub>
        </p>
        <button type="submit" class="switch-to-annual btn">
          {{t "UPGRADE-TO-ANNUAL"}}
        </button>
        {{!-- TO DO - Add this message to the translation file (This is being tracked by Fernando Souza) --}}
        <span class="promo-code-label">
          Promo code can be applied at checkout
        </span>
      </div>
    </div>
  </div>
{{/if}}
