<h1>{{t "CHANGE-YOUR-EMAIL"}}</h1>
<p>{{t "PROVIDE-DETAILS"}}</p>

<form id="changeEmailForm" class="form-change-email">
  <div class="form-group">
    <label for="Email" class="control-label">
      {{t "EMAIL"}}<span class="req">*</span>
    </label>
    <input
      type="email"
      class="form-control"
      name="Email"
      id="Email"
      type="email"
      required
    />
  </div>
  <div class="form-group">
    <label for="ConfirmEmail" class="control-label">
      {{t "CONFIRM-EMAIL"}}<span class="req">*</span>
    </label>
    <input
      type="email"
      class="form-control"
      name="ConfirmEmail"
      id="ConfirmEmail"
      type="email"
      required
    />
  </div>

  <div id="changeEmailAlert" class="alert hidden"></div>

  <button type="submit" id="changeEmailSubmit" class="btn btn-primary">
    {{t "CHANGE-EMAIL"}}
  </button>
</form>
