<div id="membership-info-promo" class="order-item flex-display">
  <div class="col-md-7">
    <h3 class="item-name">{{t "PROMO-CODE"}}</h3>
    <p>{{t "APPLY-CODE-HERE"}}</p>
  </div>

  <div class="col-md-5 text-right" id="apply-promo-code">
    <form id="apply-promo-code-form">
      <div class="form-inline">
        <div class="row">
          <div class="form-group col-md-12">
            <label for="promo-code" class="sr-only">{{t "PROMO-CODE"}}</label>
            <input
              type="text"
              id="promo-code"
              class="form-control"
              value=""
              placeholder="{{t 'OPTIONAL'}}"
            />
            <button type="submit" class="btn btn-primary">
              {{t "APPLY-CODE"}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>