<div class="row">
  <div class="col-md-8 account-info">
    <h1>{{t "ACCOUNT-INFO"}}</h1>
    <div class="row">
      <div class="col-lg-3 col-xs-4">{{t "NAME"}}:</div>
      <div class="col-lg-9 col-xs-8 info">{{customerName}}</div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-xs-4">{{t "EMAIL"}}:</div>
      <div class="col-lg-9 col-xs-8 info">{{customerEmail}}</div>
    </div>
    {{#unless noSubscription}}
      <div class="row">
        <div class="col-lg-3 col-xs-4">{{t "JOINED-ON"}}:</div>
        <div class="col-lg-9 col-xs-8 info">{{customerJoinedDate}}</div>
      </div>
    {{/unless}}
  </div>
</div>
{{#if isTigo}}
  <div class="row tigo-membership">
    <div class="col-md-8">
    <p>{{t "PLEASE-REFER-TO-YOUR"}}</p>
    <p>{{t "PLEASE-REFER-TO-YOUR-CONTACT"}}</p>
    </div>
  </div>
{{else}}
  {{#unless noSubscription}}
    <div class="row cancel-membership">
      <div class="col-md-8">
        <a href="#">{{t "CANCEL-MEMBERSHIP"}}</a>
      </div>
    </div>
    <div class="row contact-support">
      <div class="col-md-8">
        <span>
          {{{t "CONTACT-SUPPORT"}}}
        </span>
      </div>
    </div>
  {{/unless}}
{{/if}}
