<div class="row">
  <div class="col-md-8 account-info">
    <h1>{{t "ACCOUNT-INFO"}}</h1>
    <div class="row">
      <div class="col-lg-3 col-xs-4">{{t "NAME"}}:</div>
      <div class="col-lg-9 col-xs-8 info">{{Customer.Name}}</div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-xs-4">{{t "EMAIL"}}:</div>
      <div class="col-lg-9 col-xs-8 info">{{Customer.Email}}</div>
    </div>
  </div>
</div>
