<div class="copyright">
{{!log this level="error"}}
  <p>&copy; {{ currentYear }} RLJ Entertainment, Inc. {{t 'ALL-RIGHTS-SHORT'}}</p>
</div>
<div class="terms-condition">
  <ul>
    <li>
      <a href="https://app.rlje.net/terms/acorn/{{ currentLanguage }}.html"
        data-fancybox
        data-type="iframe"
        data-preload="false"
      >
        {{t 'TERMS-AND-CONDITIONS'}}
      </a>
    </li>
    <li>
      <a href="https://app.rlje.net/privacy/acorn/{{ currentLanguage }}.html"
        data-fancybox
        data-type="iframe"
        data-preload="false"
      >
        {{t 'PRIVACY-POLICY-UPPER'}}
      </a>
    </li>
    <li>
      <a href="https://app.rlje.net/cookie-policy/acorn/{{ currentLanguage }}.html"
        data-fancybox
        data-type="iframe"
        data-preload="false"
      >
        {{t 'COOKIE-POLICY'}}
      </a>
    </li>
    <li>
      <a
      href="https://app.rlje.net/caption-policy/{{ currentLanguage }}.html"
        data-fancybox
        data-type="iframe"
        data-preload="false"
      >
        {{t 'CAPTIONING-POLICY-UPPER'}}
      </a>
    </li>
  </ul>
</div>

<div class="lang-select">
  <label class="atv-locale" for="atvLocale">{{t 'Language' }}:</label>
  <select name="atv_locale" id="atvLocale">
    {{#each languages}}
    {{{option @key ../currentLanguage this}}}
    {{/each}}
  </select>
</div>
