<div class="copyright">
{{!log this level="error"}}
  <p>&copy; {{ currentYear }} RLJ Entertainment, Inc. {{t 'ALL-RIGHTS-SHORT'}}</p>
</div>
<div class="terms-condition">
  <ul>
    <li>
      <a class="open-dialog fancybox.iframe" href="https://app.rlje.net/terms/acorn/{{ currentLanguage }}.html">
      {{t 'TERMS-AND-CONDITIONS'}} </a>
    </li>
    <li>
      <a class="open-dialog fancybox.iframe" href="https://app.rlje.net/privacy/acorn/{{ currentLanguage }}.html">
      {{t 'PRIVACY-POLICY-UPPER'}} </a>
    </li>
    <li>
      <a class="open-dialog fancybox.iframe" href="https://app.rlje.net/cookie-policy/acorn/{{ currentLanguage }}.html">
      {{t 'COOKIE-POLICY'}}</a>
    </li>
    <li>
      <a class="open-dialog fancybox.iframe" href="https://app.rlje.net/caption-policy/{{ currentLanguage }}.html">
      {{t 'CAPTIONING-POLICY-UPPER'}} </a>
    </li>
  </ul>
</div>

<div class="lang-select">
  <label class="atv-locale" for="atvLocale">{{t 'Language' }}:</label>
  <select name="atv_locale" id="atvLocale">
    {{#each languages}}
    {{{option @key ../currentLanguage this}}}
    {{/each}}
  </select>
</div>
