<div class="order-item gift-item slim" data-price="{{gift.amount}}">

  <div class="col-md-8 left">
    <h3 class="item-name">{{t "GIFT-MEMBERSHIP"}}</h3>
    <p>{{t "YEAR-UNLIMITED-ACCESS"}}</p>
  </div>

  <div class="col-md-3">

    <div class="form-group">
      <label class="control-label">
        <strong>{{t "GIFT-PRICE"}}</strong>
        <span>
          {{giftPrice}}
        </span>
      </label>
    </div>

    <div class="form-group">
      <label for="qty" class="control-label">
        <strong>{{t "QTY"}}</strong>
      </label>
      <select class="form-control inline-form-control" id="qty" name="qty">
        {{{options}}}
      </select>
    </div>

  </div>

  <div class="col-md-1" id="quantityTotal">
    <div class="row">
      <strong>{{total}}</strong>
    </div>
  </div>

</div>