<h4>{{t "CURRENT-CREDIT-CARD"}}</h4>
<div id="billing-info">
  <a href="#" class="cc-edit">{{t "UPDATE"}}</a>
  <div class="cc-number">****{{ccLast4}}</div>
  <div class="cc-nameoncard">{{ccNameOnCard}}</div>
  <div class="cc-expiration">Exp: {{ccExpiration}}</div>
</div>
