<h1>{{t "CHANGE-YOUR-PASSWORD"}}</h1>
<p>{{t "MINIMUM-CHARACTERS"}}</p>

<form id="changePasswordForm" class="form-change-password">
  <div class="form-group">
    <label for="Password" class="control-label">
      {{t "PASSWORD"}}<span class="req">*</span>
    </label>
    <input
      type="password"
      name="Password"
      id="Password"
      class="form-control"
      minlength="8"
      maxlength="15"
      required
    />
  </div>
  <div class="form-group">
    <label for="ConfirmPassword" class="control-label">
      {{t "CONFIRM-PASSWORD"}}<span class="req">*</span>
    </label>
    <input
      type="password"
      name="ConfirmPassword"
      id="ConfirmPassword"
      class="form-control"
      minlength="8"
      maxlength="15"
      required
    />
  </div>

  <div id="changePasswordAlert" class="alert hidden"></div>

  <button type="submit" id="changePasswordSubmit" class="btn btn-primary">
    {{t "CHANGE-PASSWORD"}}
  </button>
</form>