<div id="give-subscribe-sign-in-section">

  <article class="col-md-7">

    <section class="memberOptIn">
      <h4>{{t "SUBSCRIBE-TO-ACORNTV"}}</h4>
      <span>{{t "EASY-TO-SUBSCRIBE"}}</span>

      <label for="becomeMember" class="control-label">
        <input id="becomeMember" name="becomeMember" type="checkbox" />
        {{t "LIKE-TO-SUBSCRIBE"}}
      </label>

      <p>{{t "NON-MEMBER-ORDER"}}</p>
    </section>

  </article>

  <div class="col-md-5">

    <aside class="sign-in">

      <form id="sign-in-form">

        <h4>{{t "MEMBER-SIGNIN"}}</h4>

        <div class="form-group">
          <label for="email" class="control-label">
            {{t "EMAIL-ADDRESS"}}
            <small>{{t "REQUIRED"}}</small>
          </label>
          <input
            class="form-control"
            id="email"
            name="email"
            type="email"
            pattern="[^@\\\s]+@[^@\s]+\.[^@\s]+"
            required
          />
        </div>

        <div class="form-group">
          <label for="password" class="control-label">
            {{t "PASSWORD"}}
            <small>{{t "REQUIRED"}}</small>
          </label>
          <input
            class="form-control"
            id="password"
            name="password"
            type="password"
            minlength="8"
            required
          />
        </div>

        <button type="submit" class="btn btn-success">
          {{t "SIGN-IN"}}
        </button>

        <div>
          <a href="{{signupEnv}}/forgotpassword.jsp" target="_blank">
            {{t "FORGOT-PASSWORD"}}
          </a>
        </div>

      </form>

    </aside>

  </div>

</div>

{{! <div id="signInAlert" class="alert" style="display: none"></div> }}

{{!-- <div id="signInModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signInModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="confirm-cancel-label">{{t "SIGN-IN-INFORMATION" }}</h3>
			</div>
			<div class="modal-body">
				<h4 id="SignInStatus"></h4>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary btn-confirmation" data-dismiss="modal">{{t "OKAY" }}</button>
			</div>
		</div>
	</div>
</div> --}}